<div class="container-fluid">

    <div class="row searchBarAndSort">
        <div class="col-xs-11">
            <input class="form-control" type="text" placeholder="Search..." ng-model="search.name" />
        </div>
        <div class="col-xs-1">
            <img ng-click="sortBy()" class="img-responsive" role="button" src="images/buttons/filter-results-button.png">
        </div>
    </div>

    <div ng-repeat="pokemon in pokemons | filter:search | inArray:Allcaugh():'number':caugh | inArray:AllInBattleBox():'number':BattleBox | orderBy:sortorder" class="row pokemonContainer">

        <div class="col-xs-3 pokemon-image-container">
            <img class="img-thumbnail pokemon-image" ng-src="{{pokemon.image}}" />
        </div>

        <div class="col-xs-7">
            <div class="row">
                <div class="col-xs-12">
                    <h4>
                        {{pokemon.name}}
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3" ng-repeat="type in pokemon.types">
                    <h5 class="type" ng-class="type">
                        {{type}}
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="row">
                <div class="col-xs-12 ">
                    <h5 class="text-right"># {{pokemon.number}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 IconAlign">
                    <img role="button" ng-src="{{Iscaugh(pokemon.number)}}" class="img-responsive" ng-click="AddOrRemoveToCaugh(pokemon.number);" />
                </div>
                <div class="col-xs-6 IconAlign">
                    <img role="button" ng-src="{{IsInBattleBox(pokemon.number)}}" class="img-responsive" ng-click="AddOrRemoveToBattleBox(pokemon.number);" />
                </div>
            </div>
        </div>

    </div>
</div>